.login { 
  background: url(../../assets/images/login-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FF5722;
  background-blend-mode: luminosity;
}

.login__google-signin {
  width: 191px;
  height: 46px;
  background-image: url(../../assets/images/login-google--default.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &-container {
    padding: 0;
    border: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  &:active {
    background-image: url(../../assets/images/login-google--pressed.png);
  }
}
