doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=1, minimal-ui')

    meta(property="og:title" content=htmlWebpackPlugin.options.title)
    meta(property="og:type" content="website")
    meta(property="og:description" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")

    //- Google OAuth
    script(src="https://apis.google.com/js/platform.js" async defer)
    meta(name="google-signin-client_id" content="704150624273-pq6qof275opu09jore9qsgio5l0cdn5g.apps.googleusercontent.com")

    title
        | #{ htmlWebpackPlugin.options.title  }
        
  body(style="display: none;")

    #root
